# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Composer
vendor/

# Build artifacts
dist/
build/
*.zip

# Logs
*.log

# Environment
.env
.env.*

# WordPress test/CI
wp-env.json.local
